.comics-container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  margin-bottom: 5rem; /* to fit navbuttons */
}

@media (max-width: 899px) {
  .comics-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
