.comic-view-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.comic-view-modal .modal-footer.empty {
  padding: 0;
}

.cells-container {
  overflow-y: auto;
  overflow-x: hidden;
  /* width: 100%; */
  margin: 0;
  display: grid;
  max-width: 610px;
  width: 610px;
  grid-template-columns: 50% 50%;
}

@media (max-width: 599px) {
  .cells-container {
    width: 100%;
    display: block;
  }
}

.cell-container {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 1px;
  width: 100%;
}

.cell-container.not-selected {
  opacity: 0.5;
}
