@keyframes button-load-spin {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@keyframes buttonPulse {
  0%,
  85% {
    background-color: var(--white);
    color: var(--black);
  }
  100% {
    background-color: var(--pinkWhite);
    color: var(--lightGray);
  }
}

@keyframes secondaryButtonPulse {
  0%,
  85% {
    background-color: var(--pinkWhite);
    color: var(--white);
  }
  100% {
    background-color: var(--black);
    color: var(--white);
  }
}

@keyframes accentedButtonPulse {
  0%,
  85% {
    background-color: var(--pink);
    color: var(--white);
  }
  100% {
    background-color: var(--pinkWhite);
    color: var(--pink);
  }
}

.button {
  flex-grow: 1;
  max-width: var(--canvasWidth);
  height: 2.75rem;
  margin: 2px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  user-select: none;

  background-color: var(--white);
  color: var(--black);
  animation: buttonPulse ease-in 3s infinite;

  &.clickable {
    cursor: pointer;
    touch-action: manipulation;

    &:hover {
      background-color: var(--pink);
      color: var(--black);
      animation: none;

      &.disabled {
        background-color: var(--white);
        color: var(--black);
        animation: none;
      }
    }

    &.accented:hover {
      background-color: var(--pink);
      color: var(--black);
      animation: none;
    }

    &.secondary:hover {
      background-color: var(--pink);
      color: var(--black);
      animation: none;
    }
  }

  &.accented {
    background-color: var(--pink);
    color: var(--white);
    animation: accentedButtonPulse ease-in 3s infinite;
  }

  &.secondary {
    background-color: var(--pinkWhite);
    color: var(--white);
    animation: secondaryButtonPulse ease-in 4s infinite;
  }

  & .loading {
    animation: button-load-spin 2s infinite;
    font-size: 1rem;
  }

  &.disabled {
    opacity: 0.65;
    cursor: not-allowed;
    animation: none;
  }
}

.button-row {
  width: var(--canvasWidth);

  display: flex;

  &.with-margin {
    margin-top: 0.5rem;
  }

  & .half-width {
    margin-right: 0.5rem;
  }

  & .half-width:last-of-type {
    margin-right: 0;
  }

  & .half-width.with-margin {
    margin: 0.5rem;
  }
}
