@keyframes button-load-spin {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.button {
  flex-grow: 1;
  max-width: 250px;
  height: 2.75rem;
  margin: 2px auto;
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  user-select: none;
  touch-action: manipulation;

  &.accented {
    background-color: var(--pink);
    color: var(--white);

    &:hover {
      background-color: var(--pinkWhite);
      color: var(--black);
    }
  }

  &.secondary {
    background-color: var(--pinkWhite);
    color: var(--black);

    &:hover {
      background-color: var(--pink);
      color: var(--black);
    }
  }

  &:hover {
    background-color: var(--pinkWhite);
    color: var(--black);

    &.disabled {
      background-color: var(--white);
      color: var(--black);
    }
  }

  & .loading {
    animation: button-load-spin 2s infinite;
    font-size: 1rem;
  }

  &.disabled {
    opacity: 0.65;
    cursor: not-allowed;
    /* background-color: var(--white); */
    /* color: var(--black); */
  }
}

.button-row {
  display: flex;

  &.with-margin {
    margin-top: 0.5rem;
  }

  & .half-width {
    margin-right: 0.5rem;
  }

  & .half-width:last-of-type {
    margin-right: 0;
  }

  & .half-width.with-margin {
    margin: 0.5rem;
  }
}
