.cell-studio-modal {
  min-width: inherit;
  position: fixed;
  top: 0;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  bottom: 0;
  margin-bottom: 0;
}

.submenu-container {
  margin-top: 0.5rem;
}

.cell-studio-menu-button {
  width: var(--canvasWidth);
  font-size: 2.5rem;

  &.half-width {
    width: calc((0.3 * var(--canvasWidth)) - 0.5rem);

    &.with-margin {
      margin: 0.5rem auto;
    }
  }

  &.emoji-menu-button {
    opacity: 1;

    &:hover {
      background-color: var(--white);
      color: inherit;
      opacity: 0.75;

      &.drag-overlay {
        opacity: 1;
      }
    }
  }

  &.draggable-is-over-droppable {
    opacity: 0.75;
  }
}

.cell-studio-menu-button.medium-font {
  font-size: 1.5rem;
}

.quarter-button {
  width: 25%;
  height: 100%;
}

.handle {
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--pinkWhite);
  }
}

.selector {
  /* background-color: var(--pinkWhite); */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.5rem;
  color: var(--darkGray);

  &.active {
    color: var(--pink);
  }
}

.scroll-container {
  /* needed for restrictToFirstScrollableAncestor */
  overflow: auto;
}

.submenu-label {
  margin: 0.1rem auto;
  display: flex;
  justify-content: center;
  user-select: none;
}

.submenu-slider-container {
  width: 100%;
  padding: 0.5rem 0;
}
