.outer-container {
  display: flex;
  flex-direction: column;
  width: var(--comicWidth);
  margin: 1rem auto;
}

.add-cell-button {
  font-size: 2.5rem;
  width: var(--comicWidth);
}

.studio-cell {
  margin: 0 auto;
}

.unpublished-changes {
  z-index: 999;
  position: absolute;
  font-size: 0.9rem;
  opacity: 0.35;
  padding: 0.1rem 0.2rem;
  background-color: var(--pink);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}
