.create-icon {
  margin: 0.5rem;
}

.add-icon {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.add-comic-nav-button {
  position: relative;
  width: 100%;
  height: 100%;
}

/* .cell-container {
  display: flex;
  position: relative;
  justify-content: center;
  margin: auto;
  cursor: pointer;
} */

.add-cell-button {
  width: 100%;
}

@media (max-width: 599px) {
  .drafts-modal {
    max-width: 100vw;
  }
}

@media (max-width: 899px) {
  .drafts-modal {
    width: 100%;
  }
}
