.caption-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightGray);
}

.caption-search-input {
  display: inline-block;
  font-size: 2rem;
  /* width: 70%; */
  background: linear-gradient(#eee, #fff);
  transition: all 0.3s ease-out;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4);
  width: 95%;
  text-align: center;

  &::placeholder {
    color: gray;
    font-size: 50px;
    opacity: 0.5;
  }
}

.nav-button.search {
  overflow-wrap: anywhere;
  overflow: hidden;
}

.nav-button.search.text-search button {
  font-size: 1rem;
}
