.background-mask {
  z-index: 999999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background-color: var(--lightGray);
  border-radius: 1px;
  /* always allow space for top and bottom navbutton, each w/ top & bottom margins */
  max-height: calc(100% - (2 * (var(--buttonDiameter) + (2 * 0.5rem))));
  margin-top: calc(var(--buttonDiameter) + (2 * 0.5rem));
  overflow: auto;
  border-radius: 2px;
  z-index: var(--top);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: transparent;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.modal-container.full-height {
  max-height: calc(100% - (var(--buttonDiameter) + (2 * 0.5rem)));
  margin-bottom: 0;
}

.message-container {
  color: var(--white);
  background-color: transparent;
  font-size: 2.5rem;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.centered-container {
  width: calc(100% - (2 * 1rem));
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.modal-header {
  position: relative;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
  top: 0;
  background-color: transparent;
  height: calc(var(--buttonDiameter) + (2 * 0.5rem));
  z-index: var(--toptop);
}

.modal-footer {
  margin: 0 auto;
  padding: 0;
  width: var(--comicWidth);
  position: sticky;
  will-change: transform;
  bottom: 0;
  z-index: var(--toptop);

  &.empty {
    padding: 0.5rem;
  }
}

.nav-button.close-button button {
  font-size: 1rem;
}

.cells-container {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}

@media (max-width: 599px) {
  .modal-container {
    /* always allow space for top navbutton */
    max-height: calc(100% - (2 * (var(--buttonDiameter) + (2 * 4px))));
    margin-top: calc(var(--buttonDiameter) + (2 * 4px));
  }

  .modal-container.full-height {
    max-height: calc(100% - (var(--buttonDiameter) + (2 * 4px)));
  }

  .modal-header {
    height: calc(var(--buttonDiameter) + (2 * 4px));
  }

  .message-container {
    font-size: 1.75rem;
  }
}
