.background-mask {
  z-index: 999999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background-color: var(--lightGray);
  border-radius: 1px;
  max-height: calc(100% - var(--buttonDiameter) - 2rem);
  margin-top: calc(var(--buttonDiameter) + 2rem);
  min-width: 315px;
  overflow: auto;
  border-radius: 2px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.message-container {
  color: var(--black);
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.centered-container {
  width: calc(100% - (2 * 1rem));
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.modal-header {
  position: sticky;
  will-change: transform;
  top: 0;
  background-color: var(--lightGray);
  padding: 1rem;
  z-index: var(--toptop);
}

.modal-footer {
  position: sticky;
  will-change: transform;
  bottom: 0;
  background-color: var(--lightGray);
  padding: 1rem;
  z-index: var(--toptop);

  &.empty {
    padding: 0.5rem;
  }
}
