.logo {
  position: absolute;
  left: 0;
  top: 0;
  color: var(--pink);
  font-size: 1.75rem;
  padding: 0.5rem;
  font-family: var(--fonts);

  background: linear-gradient(to right, var(--darkGray), var(--pink));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;

  font-weight: 700;

  text-shadow: 20px 20px 3px var(--darkGray), 45px 45px 4px var(--darkGray);

  font-stretch: expanded;
  opacity: 0.6;

  z-index: var(--bottom);
}

.logo:hover {
  cursor: default;
}
