.cell-studio-modal {
  min-width: inherit;
  position: fixed;
  top: 0;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  bottom: 0;
  margin-bottom: 0;
}

.cell-studio-menu-button {
  width: var(--canvasWidth);
  font-size: 2.5rem;
}
