.copy-from-comic-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
}

.cells-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 80%;
  margin: 2rem auto;
  width: 270px;
  max-width: calc(100vw - var(--padding) px);
}

.cell-container {
  display: flex;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

@media (max-width: 599px) {
  .copy-from-comic-modal {
    max-width: 100vw;
  }
}

@media (max-width: 899px) {
  .copy-from-comic-modal {
    width: 100%;
  }
}
