body {
  background-color: var(--lightGray);
  margin: 0;
  color: var(--black);
  font-family: var(--fonts);
}

/*
  Generally, we don't want anchor tags to have the default stylings
  as the app uses them in ways that don't resemble traditional hyperlinks.
*/
a {
  color: inherit;
  text-decoration: inherit;
}

@media (max-width: 599px) {
  body {
    overflow-x: hidden;
  }
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
