:root {
  --fonts: "Nunito", sans-serif;

  /* Colors */
  --white: #fffaf9;
  --pink: #ff4c7f;
  --pinkWhite: #ffa3bc;
  --darkGray: #cececf;
  --lightGray: #e7e7e7;
  --black: #464655;
  --lightBlack: #575764;

  /* Lengths */
  --comicWidth: 300px;
  --buttonDiameter: 60px;

  /* Heights */
  --toptop: 99999;
  --top: 999;
  --bottom: -999;
}
